footer {
	font-style: italic;
	text-align: center;
}

 body {
 	padding-left: 100px;
	padding-right: 100px;
 	font-family: 'JetBrains Mono', monospace;
    background-color: #cccccc;
}

img {
	box-shadow: 2px 2px 2px;
	border-radius: 2px;
}